<!DOCTYPE html>
<html>
<head>
  <title>Tournament Player Stats</title>
</head>
<body>

The content of the document......
<% players.forEach(player => { %>
<p>
    <%= player.firstName %> <%= player.surname %>
</p>
<% }) %>
</body>
</html>