<!DOCTYPE html>
<html>
<head>
  <title>Tournament Player Stats</title>
</head>
<body>
<h1>The eSports Tournament Data Solution</h1>
<p><a href="/allScores">View all player scores</a></p>
<p><a href="/avgScores">View average player scores</a></p>
<p><a href="/allGames">View Games</a></p>
<p><a href="/allTeams">View Teams and their Players</a></p>
</body>
</html>